In [3]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = (
    SparkSession.builder
    .appName("spark-notations")
    .getOrCreate()
)

from pyspark import SparkContext
#sc= SparkContext()
sc = SparkContext.getOrCreate();

In [4]:
final_list = []
lista_arquivos = []
input_lista_dfs = []

arq_range = range(43)
for n in arq_range:
    if n == 0:
        pass
    else:
        file = f"microdados2017_arq{n}"
        df = f"df_{n}"
        lista_arquivos.append(file)
        input_lista_dfs.append(df)

In [35]:
csv_file = f"C:/Lenzi/Big Data - Analytics/IGTI-BOOTCAMP/Modulo-3/Desafio-Mod3/microdados_Enade_2017_LGPD/2.DADOS/microdados2017_arq1.txt"

df = (spark.read.format("csv")
        .option("inferSchema", "true")
        .option("header", "true")
        .option("delimiter", ";")
        .load(csv_file))

df.createOrReplaceTempView("df1")

In [33]:
df1.show()

+------+--------+------+----------+----------+--------+-------------+--------------+-----------+---------------+
|NU_ANO|CO_CURSO|CO_IES|CO_CATEGAD|CO_ORGACAD|CO_GRUPO|CO_MODALIDADE|CO_MUNIC_CURSO|CO_UF_CURSO|CO_REGIAO_CURSO|
+------+--------+------+----------+----------+--------+-------------+--------------+-----------+---------------+
|  2017|       3|     1|         1|     10028|    5710|            1|       5103403|         51|              5|
|  2017|       3|     1|         1|     10028|    5710|            1|       5103403|         51|              5|
|  2017|       3|     1|         1|     10028|    5710|            1|       5103403|         51|              5|
|  2017|       3|     1|         1|     10028|    5710|            1|       5103403|         51|              5|
|  2017|       3|     1|         1|     10028|    5710|            1|       5103403|         51|              5|
|  2017|       3|     1|         1|     10028|    5710|            1|       5103403|         51|              5|
|  2017|       3|     1|         1|     10028|    5710|            1|       5103403|         51|              5|
|  2017|       3|     1|         1|     10028|    5710|            1|       5103403|         51|              5|
|  2017|       3|     1|         1|     10028|    5710|            1|       5103403|         51|              5|
|  2017|       3|     1|         1|     10028|    5710|            1|       5103403|         51|              5|
|  2017|       3|     1|         1|     10028|    5710|            1|       5103403|         51|              5|
|  2017|       3|     1|         1|     10028|    5710|            1|       5103403|         51|              5|
|  2017|       3|     1|         1|     10028|    5710|            1|       5103403|         51|              5|
|  2017|       3|     1|         1|     10028|    5710|            1|       5103403|         51|              5|
|  2017|       3|     1|         1|     10028|    5710|            1|       5103403|         51|              5|
|  2017|       3|     1|         1|     10028|    5710|            1|       5103403|         51|              5|
|  2017|       3|     1|         1|     10028|    5710|            1|       5103403|         51|              5|
|  2017|       3|     1|         1|     10028|    5710|            1|       5103403|         51|              5|
|  2017|       3|     1|         1|     10028|    5710|            1|       5103403|         51|              5|
|  2017|       3|     1|         1|     10028|    5710|            1|       5103403|         51|              5|
+------+--------+------+----------+----------+--------+-------------+--------------+-----------+---------------+
only showing top 20 rows

In [36]:
spark.sql('''select count(1) from df1 where CO_GRUPO= "3201" and CO_GRUPO= "3202"''').show()

+--------+
|count(1)|
+--------+
|       0|
+--------+

In [5]:
def importa_enade(input_lista_dfs,lista_arquivos):   
        
    for df, file in zip(input_lista_dfs, lista_arquivos):
        csv_file = f"C:/Lenzi/Big Data - Analytics/IGTI-BOOTCAMP/Modulo-3/Desafio-Mod3/microdados_Enade_2017_LGPD/2.DADOS/microdados2017_arq1.txt"
        df = (spark.read.format("csv")
        .option("inferSchema", "true")
        .option("header", "true")
        .option("delimiter", ";")
        .load(csv_file))

        final_list.append(df)

    return final_list

In [6]:
importa_enade( input_lista_dfs,lista_arquivos)

[DataFrame[NU_ANO: int, CO_CURSO: int, CO_IES: int, CO_CATEGAD: int, CO_ORGACAD: int, CO_GRUPO: int, CO_MODALIDADE: int, CO_MUNIC_CURSO: int, CO_UF_CURSO: int, CO_REGIAO_CURSO: int],
 DataFrame[NU_ANO: int, CO_CURSO: int, ANO_FIM_EM: int, ANO_IN_GRAD: int, CO_TURNO_GRADUACAO: int],
 DataFrame[NU_ANO: int, CO_CURSO: int, NU_ITEM_OFG: int, NU_ITEM_OFG_Z: int, NU_ITEM_OFG_X: int, NU_ITEM_OFG_N: int, NU_ITEM_OCE: int, NU_ITEM_OCE_Z: int, NU_ITEM_OCE_X: int, NU_ITEM_OCE_N: int, DS_VT_GAB_OFG_FIN: string, DS_VT_GAB_OCE_FIN: string, DS_VT_ESC_OFG: string, DS_VT_ACE_OFG: int, DS_VT_ESC_OCE: string, DS_VT_ACE_OCE: decimal(27,0), TP_PRES: int, TP_PR_GER: int, TP_PR_OB_FG: int, TP_PR_DI_FG: int, TP_PR_OB_CE: int, TP_PR_DI_CE: int, TP_SFG_D1: int, TP_SFG_D2: int, TP_SCE_D1: int, TP_SCE_D2: int, TP_SCE_D3: int, NT_GER: double, NT_FG: double, NT_OBJ_FG: double, NT_DIS_FG: double, NT_FG_D1: int, NT_FG_D1_PT: int, NT_FG_D1_CT: int, NT_FG_D2: int, NT_FG_D2_PT: int, NT_FG_D2_CT: int, NT_CE: double, NT_OBJ_CE: double, NT_DIS_CE: double, NT_CE_D1: int, NT_CE_D2: int, NT_CE_D3: int, CO_RS_I1: string, CO_RS_I2: string, CO_RS_I3: string, CO_RS_I4: string, CO_RS_I5: string, CO_RS_I6: string, CO_RS_I7: string, CO_RS_I8: string, CO_RS_I9: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I27: int, QE_I28: int, QE_I29: int, QE_I30: int, QE_I31: int, QE_I32: int, QE_I33: int, QE_I34: int, QE_I35: int, QE_I36: int, QE_I37: int, QE_I38: int, QE_I39: int, QE_I40: int, QE_I41: int, QE_I42: int, QE_I43: int, QE_I44: int, QE_I45: int, QE_I46: int, QE_I47: int, QE_I48: int, QE_I49: int, QE_I50: int, QE_I51: int, QE_I52: int, QE_I53: int, QE_I54: int, QE_I55: int, QE_I56: int, QE_I57: int, QE_I58: int, QE_I59: int, QE_I60: int, QE_I61: int, QE_I62: int, QE_I63: int, QE_I64: int, QE_I65: int, QE_I66: int, QE_I67: int, QE_I68: int],
 DataFrame[NU_ANO: int, CO_CURSO: int, TP_SEXO: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, NU_IDADE: int],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I01: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I02: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I03: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I04: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I05: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I06: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I07: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I08: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I09: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I10: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I11: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I12: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I13: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I14: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I15: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I16: int],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I17: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I18: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I19: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I20: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I21: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I22: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I23: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I24: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I25: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I26: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I69: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I70: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I71: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I72: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I73: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I74: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I75: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I76: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I77: string],
 DataFrame[NU_ANO: int, CO_CURSO: int, QE_I78: string, QE_I79: string, QE_I80: string, QE_I81: string]]

In [7]:
final_list[1].show()

+------+--------+----------+-----------+------------------+
|NU_ANO|CO_CURSO|ANO_FIM_EM|ANO_IN_GRAD|CO_TURNO_GRADUACAO|
+------+--------+----------+-----------+------------------+
|  2017|  110414|      1957|       2016|                 3|
|  2017| 1286531|      1957|       2015|                 4|
|  2017|  108616|      1958|       2015|                 3|
|  2017| 1341949|      1958|       2015|                 3|
|  2017|    9985|      1959|       2013|                 4|
|  2017| 1160839|      1959|       2013|                 3|
|  2017|   86672|      1960|       2006|                 4|
|  2017|  317270|      1961|       2013|                 1|
|  2017| 1313397|      1962|       2015|                 3|
|  2017|   86672|      1962|       2008|                 4|
|  2017|   52435|      1962|       2012|                 4|
|  2017|   97851|      1962|       2007|                 1|
|  2017|  312817|      1962|       2012|                 2|
|  2017|   24668|      1963|       2010|                 1|
|  2017|   99940|      1964|       2014|                 4|
|  2017|   82854|      1964|       2012|                 4|
|  2017| 1279416|      1964|       2014|                 4|
|  2017|  312962|      1964|       2011|                 1|
|  2017| 1202870|      1964|       2011|                 1|
|  2017| 1314985|      1965|       2015|                 4|
+------+--------+----------+-----------+------------------+
only showing top 20 rows

In [8]:
df1 = final_list[0] 
df2 = final_list[1]
df3 = final_list[2]
df4 = final_list[3]
df5 = final_list[4]
df6 = final_list[5]
df7 = final_list[6]
df8 = final_list[7]
df9 = final_list[8]
df10 = final_list[9]
df11 = final_list[10]
df12 = final_list[11]
df13 = final_list[12]
df14 = final_list[13]
df15 = final_list[14]
df16 = final_list[15]
df17 = final_list[16]
df18 = final_list[17]
df19 = final_list[18]
df20 = final_list[19]
df21 = final_list[20]
df22 = final_list[21]
df23 = final_list[22]
df24 = final_list[23]
df25 = final_list[24]
df26 = final_list[25]
df27 = final_list[26]
df28 = final_list[27]
df29 = final_list[28]
df30 = final_list[29]
df31 = final_list[30]
df32 = final_list[31]
df33 = final_list[32]
df34 = final_list[33]
df35 = final_list[34]
df36 = final_list[35]
df37 = final_list[36]
df38 = final_list[37]
df39 = final_list[38]
df40 = final_list[39]
df41 = final_list[40]
df42 = final_list[41]

In [25]:
def merge(df_main, df_upd, df_main_key, df_upd_key): 
  from pyspark.sql.functions import when, lit
  #Generates a list with the name of the columns present in the dataframe
  df_main_cols = df_main.columns
  df_upd_cols = df_upd.columns
  
  #Adds the suffix "_tmp" to df_upd columns
  add_suffix = [df_upd[f'{col_name}'].alias(col_name + '_tmp') for col_name in df_upd.columns]
  df_upd = df_upd.select(*add_suffix)
  
  #Doing a full outer join
  df_join = df_main.join(df_upd, df_main[df_main_key] == df_upd[df_upd_key + '_tmp'], "fullouter")
  #Using the for loop to scroll through the columns
  for col in df_main_cols:
      #Implementing the logic to update the rows
      df_join = df_join.withColumn(col, when((df_main[col] != df_upd[col + '_tmp']) | (df_main[col].isNull()), df_upd[col + '_tmp']).otherwise(df_main[col]))
  
  #Selecting only the columns of df_main (or all columns that do not have the suffix "_tmp")
  df_final = df_join.select(*df_main_cols)
  
  #Returns the dataframe updated with the merge
  return df_final

In [23]:
# PySpark join multiple columns


#globaldf = df1.join(df2, (df1["NU_ANO"] == df2["NU_ANO"]) &
   ( df1["CO_CURSO"] == df2["CO_CURSO"]),"inner")

#globaldf = globaldf.drop("df2.NU_ANO","df2.CO_CURSO")

#globaldf = globaldf.join(df3, (globaldf["NU_ANO"] == df3["NU_ANO"]) &
#   ( df1["CO_CURSO"] == df3["CO_CURSO"]),"inner").drop("df3.NU_ANO","df3.CO_CURSO")

#globaldf = globaldf.join(df4, (globaldf["NU_ANO"] == df4["NU_ANO"]) &
#   ( df1["CO_CURSO"] == df4["CO_CURSO"]),"inner")

IndentationError: unexpected indent (937381330.py, line 5)

In [21]:
print(df1.count())
print(df2.count())

537358
537358

In [18]:
df1.join(df2, ("NU_ANO") and ( "CO_CURSO"),"left").count()

468686254

In [16]:
globaldf.printSchema()

root
 |-- CO_CURSO: integer (nullable = true)
 |-- NU_ANO: integer (nullable = true)
 |-- CO_IES: integer (nullable = true)
 |-- CO_CATEGAD: integer (nullable = true)
 |-- CO_ORGACAD: integer (nullable = true)
 |-- CO_GRUPO: integer (nullable = true)
 |-- CO_MODALIDADE: integer (nullable = true)
 |-- CO_MUNIC_CURSO: integer (nullable = true)
 |-- CO_UF_CURSO: integer (nullable = true)
 |-- CO_REGIAO_CURSO: integer (nullable = true)
 |-- NU_ANO: integer (nullable = true)
 |-- ANO_FIM_EM: integer (nullable = true)
 |-- ANO_IN_GRAD: integer (nullable = true)
 |-- CO_TURNO_GRADUACAO: integer (nullable = true)

In [37]:
spark.stop()